<div class="container" id="drones_table">
<div *ngIf="drones; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Drone id</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Speed</th>
          <th scope="col">Drone has not moved</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let drone of drones; let i = index" [style.background-color]="drone.has_not_moved ? 'red' : null">

          <th scope="row">{{ drone.id }}</th>
          <td>{{ drone.lat }}</td>
          <td>{{ drone.lng }}</td>
          <td>{{ drone.timestamp }}</td>
          <td>{{ drone.speed }}</td>
          <td>{{ drone.has_not_moved }}</td>
        </tr>
        
      </tbody>
    </table>
</ng-template>
<ng-template #elseBlock>
  <div class="row" id="api_offline">{{ errorMessage }}</div>
</ng-template>

</div>
