<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
  <h1>
    {{ title }}
  </h1>
  </div>
  <div class="row">
    <app-drones></app-drones>
  </div>
</div>